*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.415);
    position: fixed;
}
ul{
    display: flex;
    gap: 40px;
}
ul>li>a{
    font-size: 30px;
    transition: 0.5s;
    &:hover{
        color: rgba(0, 0, 0, 0.335);
    }
}
button{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
    background-color: black;
    color: white;
    &:hover{
        background-color: white;
        color: black;
    }
}
.cont{
    width: 100%;
    height: 100vh;
    background-image: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 600px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.276);
    padding: 20px;
    margin-top: 30px;
}
.text>h1{
    text-align: center;
    margin-bottom: 20px;
    transition: 0.5s;
    &:hover{
        color: rgba(0, 0, 0, 0.394);
    }
}
.text>p{
    font-size: 18px;
    line-height: 25px;
    transition: 0.5s;
    &:hover{
        color: rgba(0, 0, 0, 0.577);
    }
}

@media screen and (max-width: 600px) {
    button{
        display: none;
    }
    ul>li>a{
        font-size: 20px;
    }
    .text{
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .text{
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .text{
        width: 100%;
        margin-top: 150px;
    }
    .text>p{
        font-size: 16px;
    }
}